.work-history-item {
  border: 1px solid #ddd;
  box-sizing: border-box;
  /* border-radius: 5px; */
  width: 650px;
  margin: 0 auto;
  padding: 0em;
  line-height: 1.5em;
}

.work-history-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.work-history-title {
  margin: 0em;
  padding: 0.5em;
  cursor: pointer;
  background: linear-gradient(to bottom, #f4f6ff 0%, #e6eef7 44%, #e3e8ed 100%);
}

.work-history-description {
  height: 100px;
  animation-duration: 0.3s;
  font-size: 1.3em;
  padding: 1em;
  padding-top: 0.7em;
  animation-name: growHeight;
}

.work-history-description-hidden {
  font-size: 1.3em;
  height: 0px;
  visibility: hidden;
  animation-duration: 1s;
  animation-name: shrinkHeight;
}

@keyframes growHeight {
  from {
    visibility: hidden;
    height: 0px;
  }
  to {
    height: 100px;
  }
}

@keyframes shrinkHeight {
  from {
    height: 100px;
  }
  to {
    visibility: hidden;
    height: 0px;
  }
}
