.project-card-main {
  width: 600px;
  height: 600px;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* background: linear-gradient(145deg, #e6e6e6, #ffffff); */
  /* box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.project-card-description {
  font-size: 1.5em;
}

.project-card-image {
  border-bottom: 1px solid #ddd;
  width: 600px;
  height: 300px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.project-card-link {
  padding: 1em;
  border: 1px solid #ddd;
  margin: 0.5em;
  border-radius: 25px;
  text-decoration: none;
  background: linear-gradient(to bottom, #f4f6ff 0%, #e6eef7 44%, #e3e8ed 100%);
  cursor: pointer;
  box-shadow: 1px 1px 0px #ddd;
}

.project-card-link:visited {
  color: black;
}

.project-card-link-container {
  display: flex;
  justify-content: center;
}
