.work-history-main {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  width: 600px;
  margin: 0 auto;
}

.section-label {
  border: 1px solid #ddd;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 0px;
  padding: 0.5em;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 5em;
  /* background: linear-gradient(145deg, #e6e6e6, #ffffff); */
}

@media only screen and (min-width: 1300px) {
  .section-label {
    margin-top: 0em;
  }
}
