.education-card-main {
  border: 1px solid #ddd;
  margin: 1em;
  width: 95%;
  padding: 1em;
  border-radius: 25px;
  /* background-color: white; */
  /* background: linear-gradient(90deg, #e6e6e6, #ffffff, #e6e6e6); */
}
