.education-card-main {
  border: 1px solid #ddd;
  margin: 1em;
  width: 95%;
  padding: 1em;
  border-radius: 25px;
  background: linear-gradient(to bottom, #f4f6ff 0%, #e6eef7 44%, #e3e8ed 100%);
  cursor: pointer;
  box-shadow: 1px 1px 0px #ddd;

  /* background-color: white; */
  /* background: linear-gradient(90deg, #e6e6e6, #ffffff, #e6e6e6); */
}
